.donorparent{
	display: flex;
	flex-direction: row;
}

.input_box{
	display: flex;
	justify-content: center;
}
.card{
	width:50%;	
	display: flex;
	border: 5px solid black;
	box-shadow: 0px 8px 8px +8px #007BFF;
	transition: transform .2s;
}

.card:hover{
	transform: scale(1.1);
}