
.donorparent{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.container{
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.contact {
	opacity: 0.9;
	background: #306EFF;
	padding: 25px;
	margin: 50px 0;
	box-shadow: 0 0 20px 0 black, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-bottom: 5px solid #FF0000;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
  }
  
  .contact input[type="text"],
  .contact input[type="email"],
  .contact input[type="tel"],
  .contact input[type="url"],
  .contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
  }
  
  .contact input[type="text"]:hover,
  .contact input[type="email"]:hover,
  .contact input[type="tel"]:hover,
  .contact input[type="url"]:hover,
  .contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
  }

  .contact input:focus{
  outline: 0;
  border: 1px solid #aaa;
}

/* small size devices */
@media only screen and (min-width: 320px) and (max-width: 767px){

	.donorparent{
			flex-flow: column wrap;
			align-items: center;
			justify-content: space-between;

	}
	.image{
		align-self: flex-start;
		width: 200px;
		height: 200px;
	}
}