.donorparent{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.cards{
	display:flex;
	flex-direction: row;
}
.card-box{
	transition: transform .2s;
}
.card-box:hover{
	transform: scale(1.2);
}




